#centralPanel {
    size: 10rem;
}

.block {
    border-bottom: 0.2rem solid #ccc;
}

img {
    width: 20rem;
    margin-bottom: 2rem;
}

img:hover {
    background-color: #ccc;
}

div {
    width: 100%;
}

h1 {
    border: 0;
}