<div class="text-center">
    <h1>Моника Ценова</h1>
    <div class="block">
        <a href="https://telerikacademy.com/Users/MonikaTzenova">
            <img src="https://upload.wikimedia.org/wikipedia/en/1/13/Telerik_Logo.png" alt="">
        </a>
    </div>
</div>
<div class="text-center">
    <h1>Симеон Петков</h1>
    <div class="block">
        <a href="https://telerikacademy.com/Users/simeonpp">
            <img src="https://upload.wikimedia.org/wikipedia/en/1/13/Telerik_Logo.png" alt="">
        </a>
    </div>
</div>
<div class="text-center">
    <h1>Светозар Илиев</h1>
    <div class="blok">
        <a href="https://telerikacademy.com/Users/dreadlocker">
            <img src="https://upload.wikimedia.org/wikipedia/en/1/13/Telerik_Logo.png" alt="">
        </a>
    </div>
</div>