<div id="footer" data-animate="fadeInUp" class=" container animated fadeInUp">
                <div class="row">
                    <div class="col-md-3 col-sm-6">
                        <h4>Pages</h4>

                        <ul>
                            <li><a [routerLink]="['/home']">Home</a>
                            </li>
                            <li><a [routerLink]="['/products']">Products</a>
                            </li>
                            <li><a [routerLink]="['/about']">About us</a>
                            </li>
                        </ul>

                    </div>
                    <!-- /.col-md-3 -->

                    <div class="col-md-3 col-sm-6">

                        <h4>Where to find us</h4>

                        <p><strong>Telerik Academy.</strong>
                            <br>Mladost 1
                            <br>Sofia
                            <br>
                            <strong>Bulgaria</strong>
                        </p>

                        <a href="http://telerikacademy.com/" target="_blank">Go to contact page</a>

                    </div>
                    <!-- /.col-md-3 -->

                    <div class="col-md-3 col-sm-6 col-sm-offset-3">

                        <h4>Stay in touch</h4>

                        <p class="social">
                            <a href="#" class="facebook external" data-animate-hover="shake"><i class="fa fa-facebook"></i></a>
                            <a href="#" class="twitter external" data-animate-hover="shake" style="opacity: 1;"><i class="fa fa-twitter"></i></a>
                            <a href="#" class="instagram external" data-animate-hover="shake" style="opacity: 1;"><i class="fa fa-instagram"></i></a>
                            <a href="#" class="gplus external" data-animate-hover="shake" style="opacity: 1;"><i class="fa fa-google-plus"></i></a>
                            <a href="#" class="email external" data-animate-hover="shake" style="opacity: 1;"><i class="fa fa-envelope"></i></a>
                        </p>

                    </div>
                    <!-- /.col-md-3 -->

                </div>
                <!-- /.row -->

        </div>
