<div class="col-md-12">
    <h1>My orders history</h1>
    <p *ngIf="orders.length === 0" >You have no orders yet.</p>
</div>

<div class="col-md-6">
    <ul class="ordersUl">
        <li *ngFor="let order of ordersOdd">
            <app-list-order-element [order]='order'></app-list-order-element>
        </li>
    </ul>
</div>

<div class="col-md-6">
    <ul class="ordersUl">
        <li *ngFor="let order of ordersEven">
            <app-list-order-element [order]='order'></app-list-order-element>
        </li>
    </ul>
</div>